*{
  font-family: "Montserrat",sans-serif;
}
header .top-header{
  background-color: #009688;  
}

header .header-background{
  background-color: #ffffff;
}

/* Start Dropdown Button */
header #header_content .dropdown {
  position: relative;
  display: inline-block;
}

header #header_content .top_menu{
  left: -58px !important;
}
header #header_content .top_menu li{
  display: block !important;
}

header .login-head-btn{
      text-align: center !important;
        background-image: linear-gradient(to right bottom, #048f58, #299d69, #40ab7a, #54b98b, #67c79c);
    color: white !important;
    padding: 6% 2% !important;
    border: 1px solid #008f51;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.19);
}
header ul.dropdown-menu.top_menu:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -10px;
    border: 10px solid #ff000000;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}
header #header_content .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

header #header_content .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header #header_content .dropdown-content a:hover {background-color: #f1f1f1}

header #header_content .dropdown:hover .dropdown-content {
  display: block;
}

header #header_content .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

header #header_content .dropdown > a {
  color:#FFFFFF;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
}

header #header_content .all-menu .dropdown > a {
  color:#777777;    
}

header #header_content .dropdown > a:hover{
  text-decoration: none;
  color: #FFFFFF;
}

/* End Dropdown Button */

header #header_content ul.right-menu, header #header_content ul.all-menu{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

header #header_content ul.right-menu li, header #header_content ul.all-menu li{
  display: inline-block;
  text-transform: uppercase;
  vertical-align: top;
  padding: 0px 12px;
  margin-top: 1%;
}

header #header_content ul.right-menu li.users-vendors-login ul li{
  display:block; 
  padding: 0px 0px 5px 0px;
}

header #header_content ul.right-menu li.users-vendors-login ul li a:hover{
  color: #333;    
}

header #header_content ul.right-menu li.users-vendors-login{
  position:relative;    
}

header #header_content ul.right-menu li{
  padding-left: 0px;   
}

header #header_content ul.all-menu li.first{
  padding-left: 0px;  
}

header #header_content ul.right-menu li:last-child{
  position: relative;
}

header #header_content ul.right-menu li .main, header #header_content ul.all-menu li .main{
  color:#FFFFFF;
  display: block;
  font-size: 14px;
  padding: 8px 10px;
  text-decoration: none;
}

header #header_content ul.all-menu li .main{
  color: #777777;    
}

header #header_content ul.right-menu li a:hover{
  color: #FFFFFF;
}

header #header_content ul.all-menu li a.menu-name:hover{
      background-color: #fedb41 !important;
    color: #101010 !important;
}

header #header_content ul.right-menu li a span.cart-count{
  background: #2a2a2a none repeat scroll 0 0;
  border: 1px solid #4b4b4b;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  display: inline-block;
  height: 22px;
  line-height: 1.4;
  margin-left: 6px;
  padding: 0 7px;
  transition: all 0.2s ease-in 0s;
  vertical-align: top;
}

header #header_content ul.right-menu li a:hover span.cart-count{
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #272727;
}

header #header_content #list_popover ul
{
  padding: 0px !important;
  margin: 0px !important;
}

header #header_content #list_popover ul li{
  display:inherit !important;
  list-style: none;
}

/* Start Custom Popover */

header #header_content #list_popover{
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  left: 5%;
  width: 380px;
  padding: 15px;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: normal;
  z-index: 1010;
  margin-left: -190px;
}

header #header_content #search_popup{
  background-clip: padding-box;
  background-color:rgba(0, 130, 73, 0.8705882352941177);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
      position: fixed;
    top: 0;
    width: 100%;
    /* left: 0; */
    right: 0;
    height: 100%;
    text-align: center;
    align-items: center;
    transition: 1s;
    display: none;
        color: white;
    font-weight: 900;
    justify-content: center;

}

header #header_content .fa-search{
  font-size:  23px;
}
header #header_content .fa-user{
  font-size:  23px;
}

.close_search{
  font-size: 2em;
    color: white;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 0;
    cursor: pointer;
}

.show-search{
    display: flex !important;
    z-index: 99;
    transition: 1s;
}


header #header_content #list_popover > .arrow, header #header_content #list_popover > .arrow::after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

header #header_content #list_popover > .arrow {
  border-width: 11px;
}

header #header_content #list_popover > .arrow::after {
  border-width: 10px;
  content: "";
}

header #header_content #list_popover.bottom > .arrow {
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
  left: 65%;
  margin-left: -11px;
  top: -11px;
}

header #header_content #list_popover.bottom > .arrow::after {
  border-bottom-color: #ffffff;
  border-top-width: 0;
  content: " ";
  margin-left: -10px;
  top: 1px;
}
/* End Custom Popover */

header #header_content #list_popover .arrow{
  left: 50%;
}

header #header_content ul.right-menu li:last-child{
  padding: 0px;    
}
    
header #header_content #btn-search {
      position: relative;
    z-index: 2;
    background-color: #fedb41;
    color: black;
    border: 1px solid #fedb41;
    border-radius: 0;
}
header #srch_term{
    border-radius: 0;
   border: 0;
    border: 2px solid #fedb41;
    outline: none;
    box-shadow: none;
    /* padding: 3% 2%; */
    background: transparent;
    color: white;
}

header .search_heading{
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 58px;
}

.sml {
	margin-top: 35px;
}

.wht{
	color: #ffffff;
    text-decoration: none;
}

.wht:hover{
	color: #fedb41;
    text-decoration: none;
}

header #header_content .search-content{
  padding-top: 25px;  
}

header #header_content .navbar-default{
  background-color: transparent;
  border-color:transparent;
}

header #header_content .navbar .navbar-nav {
  display: inline-block;
  float: none;
}

header #header_content .navbar{
   
}

header #header_content .navbar .navbar-collapse{
  padding-left: 0px;  
  padding-right: 0px;  
}

.no-padding-right{
  padding-right: 0 !important;
}

.banner_social_container{
  position: absolute;
    height: 83vh;
    display: flex;
    z-index: 9;
    align-items: center;
    justify-content: center;
}
.banner_social_container ul{
      list-style-type: none;
}

/*#social_icons li{
    border-radius: 50px;
    padding: 8px 9px 8px 13px;
    color: black !important;
    margin-bottom: 50%;
}*/
#social_icons li a{
    border-radius: 50px;
    padding: 12px 12px 11px 14px;
    color: #9c9898 !important;
    margin-bottom: 50%;
}
#social_icons li a:hover{
  color: white !important;
      box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.17);
}
#social_icons li .facebook{
  padding: 9px 14px 10px 14px !important;
}
#social_icons li{
        margin-bottom: 50%;
}

#social_icons li .facebook:hover{
  background: #3b5998 !important;
}
#social_icons li .twitter:hover{
  background: #1da1f2  !important;
}
#social_icons li .linkedin:hover{
  background: #008499 !important;
}
#social_icons li .youtube:hover{
  background: #ff0000!important;
}

/* Start mega menu */

header #header_content .mega-dropdown {
  position: static !important;
}

header #header_content .mega-dropdown-menu {
  width: 100%;
  position: fixed;
  
}
.animate-top{
  /*top: 11% !important;
  display: block !important;
  opacity: 1 !important;
  transition: 1s !important;*/
}

header #header_content .mega-menu-brands:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 44.5%;
  z-index: 10;
}

header #header_content .mega-menu-brands:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 44.3%;
  z-index: 8;
}

header #header_content .mega-dropdown-menu > li > ul {
  padding: 0;
  margin-top: 20px;
}

header #header_content .mega-dropdown-menu > li > ul > li {
  list-style: none;
  font-size: 13px;
  padding-bottom: 7px;
}

header #header_content .mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
  font-size: 11px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
header .parent_cat_title{
  color: #21b281 !important;
    font-weight: 700 !important;
    font-size: 12px !important;
}
.show_search_popup .fa-search{
  font-size: 15px;
}
header #header_content .mega-dropdown-menu > li ul > li > a:hover,
header #header_content .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #999;
  background-color: #f5f5f5;
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}


header #header_content .mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #1b1b1b;
    white-space: normal;
    font-size: 11px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}


header #header_content .mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

header #header_content .mega-dropdown-menu form {
  margin: 3px 20px;
}

header #header_content .mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

/* End mega menu*/

/* Start Slider */

header #slider {
  padding-bottom: 45px;
}

header .carousel-indicators li {
  background: #C4C4BE;
}

header .carousel-indicators li.active {
  background: #7DCF85;
}

header .control-carousel {
  position: absolute;
  top: 40%;
  font-size: 60px;
  color: #C2C2C1;
}

header .control-carousel:hover{
  color: #7DCF85 ;
}

header #slider-carousel-brands .control-carousel{
  position: absolute;
  top: 10%;
  font-size: 60px;
  color: #C2C2C1;
}

header #slider-carousel-brands .control-carousel:hover{
  color: #C2C2C1 !important;
}

header .right {
  right: 0;
}

header .dropdown-menu-custom{
  position: absolute;
    top: 11%;
    left: 0;
    display: none;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    /*transition: 1s;*/
}

/* End Slider */


header .btn-compare{
  width:90%;   
  background-color: #f3f3f3;
  border-color: #d7d7d7;
  border-radius: 0;
  color: #8c8c8c;
}

header .top_menu form{
  padding: 0 12px;
}
header .top_menu small{
      font-size: 75%;
    margin-top: 3%;
    text-transform: capitalize;
}
header .top_menu form button{
  border:none;
  font-size: 12px;
}
header .top_menu hr{
         margin-top: 3%;
    margin-bottom: 3%;
}

/* start compare-btn-hvr-wobble-horizontal */
/*header .compare-btn-hvr-wobble-horizontal{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-animation-name: compare-btn-hvr-wobble-horizontal;
  animation-name: compare-btn-hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;    
}*/


/*@-webkit-keyframes compare-btn-hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}*/
/*@keyframes compare-btn-hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}*/
/* end compare-btn-hvr-wobble-horizontal */


header .carousel-indicators{
  left: 50%;    
}

header .mega-dropdown-menu ul li{
  display: block !important;    
}

header .mega-dropdown a:hover, header .mega-dropdown a, header .custom-page a:hover, header .custom-page a{
  background:transparent !important;
  text-decoration: none;
}

header .brands-images{
  padding: 20px 0px;
  text-align: center;
}

header .brands-images:hover{
  background: #D2D6DE;    
}

header ul.all-menu li .selected{
  border-bottom: 4px solid #fedb41;
}

header .language-list img{
  height: 16px;
  width: 25px;
} 

header .mega-dropdown-menu .dropdown-header img{
  height: 24px;
}

header .clear-both{
  clear: both;    
}

header .custom-page .dropdown-menu a:hover{
  color: #444444 !important;    
}

header .custom-page .dropdown-menu > li > a{
  padding: 3px 0px !important;
  font-size: 12px;
}

.custom-page ul li{
  display: block !important;    
  padding-bottom: 5px !important;
}

/* Start Cart Content */

header #cd-cart h2, header #cd-cart p {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

header #cd-cart .cd-cart-items {
  padding: 0;
}

header #cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em !important;
  border-top: 1px solid #e0e6ef;
  height: auto !important;
  text-transform: none !important;
}

header #cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}

header #cd-cart .cd-qty, header #cd-cart .cd-price {
  color: #a5aebc;
}

header #cd-cart .cd-price {
  margin-top: .4em;
}

header #cd-cart .cd-item-remove {
  position: absolute;
  right: 0em !important;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url("remove-item.svg") no-repeat center center;
}

header #cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}

header #cd-cart .cd-cart-total span {
  float: right;
}

header #cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

header #cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fedb41;
    color: #0c0c0c;
  text-align: center;
  text-decoration: none;
}

header #cd-cart .checkout-btn:hover {
  background: #e1e1e1;
  color: #444 !important;
}

header #cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}

header #cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}

header #list_popover ul
{
  padding: 0px !important;
  margin: 0px !important;
}

header #cd-cart .cd-item-remove:hover{
  background-color: #1fc0a0;
  color: #FFF !important;
}

header #list_popover ul li{
  display:inherit !important;
  list-style: none;
}

/* End Cart Content*/

      
@media only screen and (max-width: 500px) {
  header .language-list img{
    height:14px;
    width:20px;
  }   
  
  header #header_content .dropdown > a{
    padding: 11px 6px 10px;  
  }
  
  header #header_content ul.right-menu li .main{
    font-size: 12px;
    padding: 12px 0px 10px;    
  }
  
  header #header_content ul.right-menu li a span.cart-count{
    height: 18px;    
  }
  
  header .search-content .logo{
    text-align: center;  
    padding-bottom: 30px;
  }
  
  header #header_content .search-content{
    padding-top: 30px;    
  }
  
  header .navbar-header button{
    margin-right: 0px;  
    padding: 9px 22px;
  }
	
  header #header_content ul.all-menu li{
    display: block;
    padding: 0px;
  }

  header #header_content .navbar .navbar-collapse{
    text-align: left;
    padding-left: 0px;
  }

  header #header_content .cart-count{
    position: relative;
    top: -1px;
    right: 0;
    left: 0;
    border-radius: 50px;
    background: #fedb41;
    padding: 1px 8px 1px 9px;
    color: black;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.09);
  }

  header #header_content .navbar .navbar-nav{
    width: 100%;
  }

  header .navbar-brand{
    height: 56px;
    padding:15px 0px;
  }

  header #header_content .navbar-nav > li > .dropdown-menu{
    margin-top: 0px;
    margin-left: 15px;
  }

  header #header_content .mega-dropdown-menu{
    padding: 0px;
    position: relative;
    padding: 0px 26px 1px 32px;
  }

  header ul.all-menu li .selected{
    border-bottom:transparent;  
  }
  
  header #header_content #list_popover{
    width: 280px;
    margin-left: -140px;
    left: -85px;
  }
  
  header #header_content #list_popover .arrow{
    left: 92%;
  }
  
  header #header_content #list_popover.bottom > .arrow{
    left: 92%;
  }
  
  header #header_content .mega-menu-cat::before, header #header_content .mega-menu-cat::after{
    display: none;  
  }
  
  header #header_content .all-menu .dropdown > a{
    padding-left: 10px;  
  }
}

@media only screen and (max-width: 768px) {
  header #header_content .users-vendors-login .dropdown-menu{
    left: -75px !important;  
  }    
}

@media all and (max-width: 980px) and (min-width: 768px) {
  header #header_content .navbar .navbar-collapse{
    text-align: left;    
  }
  
  header #header-navbar-collapse{
    padding-left:0px; 
    padding-right:0px;
  }
  
  header #header_content ul.all-menu li:first-child{
    padding:0px;    
  }
  
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-collapse.collapse.in{
    display:block !important;
  }
  
  header .navbar-brand{
    height: 60px;
    padding:12px 0px;
  }
  
  header .navbar-header button{
    margin-right: 0px;  
    padding: 9px 30px;
  }
  
  header #header_content #list_popover{
    width: 330px;
    margin-left: -140px;
    left: -85px;
  }
  
  header #header_content #list_popover .arrow{
    left: 95%;
  }
  
  header #header_content #list_popover.bottom > .arrow{
    left: 95%;
  }
  
  header #header_content ul.all-menu li{
    display: block;
    padding: 0px;
  }
  
  header #header_content .dropdown > a{
    padding: 11px 6px 10px;  
  }
  
  header ul.all-menu li .selected{
    border-bottom:transparent;  
  }
  
  .dropdown-menu{
    top:42%;  
  }
  
  header #header_content .mega-menu-cat::before, header #header_content .mega-menu-cat::after{
    left: 21%;  
  }
   
  header #header_content .all-menu .dropdown > a{
    padding-left: 10px;  
  }
  
  header #header_content ul.right-menu li .main, header #header_content ul.all-menu li .main{
    padding: 11px 0px 10px; 
  }
}

@media all and (max-width: 1280px) and (min-width: 1024px) {
  header #header_content #list_popover{
    margin-left: -250px;
  }  
  
  header #header_content #list_popover.bottom > .arrow{
    left: 88%;    
  }
  
  header #header_content .mega-menu-cat::before, header #header_content .mega-menu-cat::after{
    left: 35%;  
  }
}

.dropdown-menu li a{
  font-size: 12px;
  text-align: center;
  text-transform: initial;
}

#header_content{
  transition: 1s ease-in;
}
.fixed-header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  box-shadow: 9px 2px 16px 4px rgba(0, 0, 0, 0.30980392156862746);
}
.fixed-header .logo img{
  width: 25% !important;
}

.top_menu{
  min-width: 185px !important;
}

.fixed-header .dropdown-menu-custom{
  top: 8%;
}
.fixed-header .navbar{
      margin-bottom: 0 !important;
}

.fixed-header .search-content{
  padding-top: 10px !important;
}

.fixed-header .all-menu li{
      margin-top: -1% !important;
}
