*{
    padding: 0;
    margin: 0;
}
@baseColor: #DF1C23;
@blackColor : #000000;
@lightFontColor : #898989;
@whiteColor : #ffffff;
@pinkColor: #EC407A;
@whiteBackgroundColor: #ffffff;
@blackBackgroundColor : #000000;
@shadeBackgroundColor : #e9e3ff;
@wrapperBackgroundColor: #f9f9f9;
@logoBackgroundColor : #d6cffb;
@footerBackgroundColor: #01002A;
@copyrightBackgroundColor: #0f141b;
@defaultFontSize : 14px;
.greatVibes{
    font-family: 'Great Vibes', cursive;
}
.coiny{
    font-family: 'Coiny', cursive;
}
.lightFontColor{
    color: @lightFontColor;
}
.pinkColor{
    color: @pinkColor;
}
.baseBackgroundColor{
    background-color: @baseColor;
}
.homeHeaderBaseBackgroundColor{
    background-color: fade(@baseColor, 20%);
}
.homeBannerBaseBackgroundColor{
    background-color: fade(@baseColor, 80%);
}
.pinkBackgroundColor{
    background-color: @pinkColor;
}
.whiteBackgroundColor{
    background-color: #ffffff;
}
.blackBackgroundColor{
    background-color: #000000;
}
.shadeBackgroundColor{
    background-color: @shadeBackgroundColor;
}
.wrapperBackgroundColor{
    background-color: @wrapperBackgroundColor;
}
.logoBackgroundColor{
    background-color: @logoBackgroundColor;
}
.footerBackgroundColor{
    background-color: @footerBackgroundColor;
}
.copyrightBackgroundColor{
    background-color: @copyrightBackgroundColor;
}
.transparentBackgroundColor{
    background-color: transparent;
}
.baseColor{
    color: @baseColor;
}
.footerColor{
    color: @footerBackgroundColor;
}
.whiteColor{
    color: @whiteColor;
}
.blackColor{
    color: @blackColor;
}
p{
    margin-bottom: 0;
}
a{
    .baseColor;
    cursor: pointer;
    &:hover, &:focus{
        .textNoDecoration;
    }
}
.textNoDecoration{
    text-decoration: none;
}
.textUnderline{
    text-decoration: underline;
}
.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;
}
.textRight{
    text-align: right;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.noPadding{
    padding: 0;
}
.noRLpadding{
    padding-left: 0!important;
    padding-right: 0!important;
}
.noTBpadding{
    padding-top: 0;
    padding-bottom: 0;
}
.marginLAuto{
    margin-left: auto;
}
.marginRAuto{
    margin-right: auto;
}
.marginLRAuto{
    margin-left: auto;
    margin-right: auto;
}
.margin1emAuto{
    margin: 1em auto;
}
.margin1emTop{
    margin-top: 1em;
}
.margin1emBottom{
    margin-bottom: 1em;
}
.noMargin{
    margin: 0;
}
.noRLmargin{
    margin-left: 0;
    margin-right: 0;
}
.noTBmargin{
    margin-top: 0;
    margin-bottom: 0;
}
.noBorderRadius{
    border-radius: 0;
}
.posRelative{
    position: relative;
}
.posAbsolute{
    position: absolute;
}
.he100{
    height: 100%;
}
.heAuto{
    height: auto;
}
.wiAuto{
    width: auto;
}
.wi100{
    width: 100%;
}
.disBlock{
    display: block;
}
.disInline{
    display: inline;
}
.disInlineBlock{
    display: inline-block;
}
.disNone{
    display: none;
}
.disFlex{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.noFlexWrap{
    flex-wrap: nowrap;
}
.alignItemsNormal{
    align-items: normal;
}
.alignItemsCenter{
    align-items: center;
}
.alignItemsFlexStart{
    align-items: flex-start;
}
.alignItemsFlexEnd{
    align-items: flex-end;
}
.alignContentFlexStart{
    align-content: flex-start;
}
.alignContentCenter{
    align-content: center;
}
.alignContentFlexEnd{
    align-content: flex-end;
}
.alignSelfCenter{
    align-self: center;
}
.alignSelfFlexStart{
    align-self: flex-start;
}
.alignSelfFlexEnd{
    align-self: flex-end;
}
.justifyContentCenter{
    justify-content: center;
}
.justifyFlexStart{
    justify-content: flex-start;
}
.justifyFlexEnd{
    justify-content: flex-end;
}
.justifySpaceBetween{
    justify-content: space-between;
}
.justifySpaceAround{
    justify-content: space-around;
}
.justifySpaceEvenly{
    justify-content: space-evenly;
}
.disInlineFlex{
    display: inline-flex;
}
.visVisible{
    visibility: visible;
}
.visHidden{
    visibility: hidden;
}
.border1pxBlack{
    border: 1px solid @blackColor;
}
.border1pxWhite{
    border: 1px solid @whiteColor;
}
.border1pxBase{
    border: 1px solid @baseColor;
}
.border1pxShade{
    border: 1px solid @shadeBackgroundColor;
}
.border1pxWrapper{
    border: 1px solid @wrapperBackgroundColor;
}
.noBorder{
    border: 0;
}
.btn{
    font-size: @defaultFontSize;
    .uppercase;
    padding: 0.5em 1em;
    cursor: pointer;
}
.defaultButton{
    .btn;
    .baseBackgroundColor;
    .whiteColor;
    .border1pxBase;
    .noBorderRadius;
    &:hover{
        .whiteBackgroundColor;
        .baseColor;
    }
}
.defaultWhiteButton{
    .btn;
    .whiteBackgroundColor;
    .baseColor;
    .border1pxBase;
    .noBorderRadius;
}
.defaultWrapperButton{
    .btn;
    .wrapperBackgroundColor;
    color: fade(@blackColor, 80%);
    .border1pxWrapper;
    .noBorderRadius;
}
.defaultGradientButton{
    .btn;
    background: linear-gradient(to right, #ce1fa3 , #88488c);
    .whiteColor;
    .border1pxBase;
    .noBorderRadius;
}
.defaultRoundedButton{
    .btn;
    .baseBackgroundColor;
    .whiteColor;
    .border1pxBase;
    border-radius: 0.5em;
}
.defaultTransparentButton{
    .btn;
    .transparentBackgroundColor;
    .border1pxWhite;
    .noBorderRadius;
}
.defaultTransparentBorderedButton{
    .btn;
    .transparentBackgroundColor;
    .border1pxBase;
    .noBorderRadius;
}
.defaultTransparentNoBorderButton{
    .btn;
    .defaultTransparentButton;
    .noBorder;
}
.btn.smallButton{
    .btn;
    font-size: @defaultFontSize - 2px;
    .noBorderRadius;
}
input, input.form-control{
    padding: 0.5em 1em;
    .noBorderRadius;
    .border1pxBase;
    font-size: @defaultFontSize;
    &:focus{
        outline-style:none;
        box-shadow:none;
    }
}
.formAlert{
    margin: 0.5em auto;
}
.hiddenOverflow{
    overflow: hidden;
}
.asyncLoading{
    min-height: 70vh;
    .alignContentCenter;
    .alignItemsCenter;
}
.loadingSpinner{
    width: 250px;
    .posAbsolute;
    left: 50%;
    transform: translate(-50%);
    // top: 50%;
    z-index: 1;
}
.addToCart{
    .disFlex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    input{
        font-size: @defaultFontSize;
    }
    .btn{
        font-size: @defaultFontSize - 2px;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    .logoBackgroundColor;
}
::-webkit-scrollbar-thumb {
    .footerBackgroundColor;
}
::-moz-selection {
    .whiteColor;
    .baseBackgroundColor;
}
::selection {
    .whiteColor;
    .baseBackgroundColor;
}
body{
    font-family: 'Roboto', sans-serif;
    .kurvzWrapper{
        .kurvzHeader{
            .posAbsolute;
            top: 0;
            z-index: 99;
            .kurvzHeaderIn{
                .toggleNavigationLink{
                    .textCenter;
                    max-width: 50px;
                    position: fixed;
                    left: 1%;
                    top: 1em;
                    .lightFontColor;
                    font-size: @defaultFontSize - 2px;
                    .braMenu{
                        max-height: 30px;
                        width: auto;
                        .marginLRAuto;
                    }
                }
                .headerLogoLink{
                    max-width: 160px;
                    height: auto;
                    .posAbsolute;
                    left: 50%;
                    top: 0.5em;
                    transform: translateX(-50%);
                    .headerLogo{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .kurvzMenuDiv{
            position: fixed;
            left: -100%;
            top: 0;
            background-color: fade(@footerBackgroundColor, 70%);
            width: 100%;
            height: 100%;
            z-index: 999;
            .kurvzMenuDivIn{
                .he100;
                .wi100;
                .disFlex;
                .alignItemsCenter;
                .justifyContentCenter;
                .textCenter;
                .kurvzMenu{
                    .whiteColor;
                    .kurvzMenuLinks{
                        .kurvzMenuLink{
                            .whiteColor;
                            .greatVibes;
                            font-size: 5vmax;
                        }
                    }
                }
                .kurvzMenuCloseDiv{
                    .whiteColor;
                    cursor: pointer;
                    .posAbsolute;
                    top: 1em;
                    right: 1em;
                }
            }
        }
        .homePage{
            .carousel.homeBannerCarousel{
                height: 100vh;
                .carousel-inner{
                    .he100;
                    .item{
                        .he100;
                        .posRelative;
                        .homeBannerCarouselBG{
                            .posAbsolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            max-width: 100vw;
                            max-height: 100vh;
                            object-fit: cover;
                            object-position: 70%;
                        }
                        .homeBannerOverlay{
                            .disNone;
                            .posAbsolute;
                            .wi100;
                            .he100;
                            background-color: fade(@whiteColor, 30%);
                            @media (max-width: 992px) {
                                .disBlock;
                            }
                        }
                        .homeBannerContent{
                            .posAbsolute;
                            .textCenter;
                            top: 50%;
                            left: 25%;
                            transform: translate(-50%, -50%);
                            width: 50%;
                            .homeBannerTitle{
                                .posRelative;
                                .noMargin;
                                font-size: 10vmax;
                            }
                            .homeBannerText{
                                font-size: 3vmin;
                                .lightFontColor;
                                @media (max-width: 992px) {
                                    .blackColor;
                                    font-size: 4vmin;
                                }
                            }
                            .homeBannerLink{
                                margin: 0.5em auto;
                                @media (max-width: 992px) {
                                    font-size: 3vmin;
                                }
                            }
                            @media (max-width: 992px) {
                                bottom: 0%;
                                left: 50%;
                                top: unset;
                                width: 100%;
                            }
                        }
                    }
                }
                .carousel-indicators li{
                    .border1pxBase;
                    &.active{
                        .baseBackgroundColor;
                    }
                }
            }
            .homeGroups{
                .disFlex;
                .alignItemsCenter;
                .justifyContentCenter;
                .posRelative;
                height: 50vh;
                .homeGroupOverlay{
                    .posAbsolute;
                    left: 0;
                    top: 0;
                    .wi100;
                    .he100;
                }
                .homeGroupsIn{
                    overflow-y: hidden;
                    .homeGroupsContainer{
                        .homeGroupsContainerIn{
                            .homeGroupLinkDiv{
                                .homeGroupLinkDivIn{
                                    padding: 1rem;
                                    .disFlex;
                                    .justifyContentCenter;
                                    .homeGroupLink{
                                        .alignSelfFlexEnd;
                                        .homeGroupImg{
                                            width: 100%;
                                            max-height: 150px;
                                            object-fit: contain;
                                            @media (min-width: 1025px) {
                                                filter: grayscale(100%);
                                            }
                                        }
                                        .homeGroupTitle{
                                            .lightFontColor;
                                            .greatVibes;
                                            .disFlex;
                                            .alignItemsCenter;
                                            .justifyContentCenter;
                                            font-size: 5vmin;
                                            margin: 0.5em auto;
                                            font-weight: 900;
                                        }
                                        &:hover{
                                            .homeGroupImg{
                                                filter: grayscale(0%);
                                                transform: scale(1.05);
                                                transition: transform 0.5s ease-in-out;
                                            }
                                            .homeGroupTitle{
                                                .pinkColor;
                                            }
                                        }
                                    }
                                    @media (max-width: 767px) {
                                        .justifyFlexStart;
                                        .alignItemsFlexStart;
                                    }
                                }
                            }
                        }
                    }
                }
                @media (max-width: 767px) {
                    height: auto;
                }
            }
            .homeFeaturedCategory{
                background-image: url('../images/homeFeaturedCategory.jpg');
                background-size: cover;
                background-attachment: fixed;
                background-position: left;
                background-repeat: no-repeat;
                .whiteColor;
                min-height: 80vh;
                .disFlex;
                .alignItemsCenter;
                .justifyContentCenter;
                .homeFeaturedCategoryIn{
                    .textCenter;
                    .disFlex;
                    .alignItemsCenter;
                    .homeFeaturedCategoryTitle{
                        padding: 2rem;
                        .greatVibes;
                        font-size: 8rem;
                    }
                    .homeFeaturedCategoryText{
                        .lightFontColor;
                    }
                    .homeFeaturedCategoryText{
                        font-size: 3vmin;
                        .lightFontColor;
                        @media (max-width: 992px) {
                            .blackColor;
                            font-size: 4vmin;
                        }
                    }
                    .homeFeaturedCategoryLink{
                        margin: 0.5em auto;
                        @media (max-width: 992px) {
                            font-size: 3vmin;
                        }
                    }
                }
            }
            .homeFeaturedProducts{
                padding: 2rem 1rem;
                .homeFeaturedProductSelector{
                    .disFlex;
                    .alignItemsCenter;
                    .justifyContentCenter;
                    .homeFeaturedProductSelectorLink{
                        .lightFontColor;
                        margin: 0.5em;
                        font-size: @defaultFontSize + 2px;
                        .uppercase;
                        padding: 0.5rem 1rem;
                        &.active{
                            .baseBackgroundColor;
                            .whiteColor;
                        }
                    }
                }
                .homeFeaturedProductsIn{
                    .disFlex;
                    .homeFeaturedProductImgDiv{
                        cursor: pointer;
                        .hiddenOverflow;
                        .homeFeaturedProductImgFront{
                            .posAbsolute;
                            left: 0;
                            top: 0;
                            .wi100;
                            .he100;
                            opacity: 0;
                            padding: 0px 15px;
                            transition: opacity 0.5s ease-in-out;
                        }
                        .productOptions{
                            .he100;
                            .posAbsolute;
                            .disFlex;
                            .alignItemsCenter;
                            .alignContentCenter;
                            right: 0em;
                            transform: translateX(100%);
                            top: 0em;
                            width: 20px;
                            transition: transform 0.25s ease-in-out;
                            .productOption{
                                width: 20px;
                                height: 20px;
                                border-radius: 100%;
                                font-size: @defaultFontSize - 4px;
                                margin: 0.5em auto;
                                .disFlex;
                                .alignItemsCenter;
                                .justifyContentCenter;
                                .baseBackgroundColor;
                                .whiteColor;
                            }
                        }
                        &:hover{
                            .homeFeaturedProductImgFront{
                                opacity: 1;
                            }
                            .productOptions{
                                transform: translateX(0%);
                            }
                        }
                    }
                    .homefeaturedProductTitle{
                        font-size: @defaultFontSize + 2px;
                        font-weight: 500;
                        .lightFontColor;
                        margin: 0.5em auto;
                    }
                    .homefeaturedProductRating{
                        margin-bottom: 0.5em;
                    }
                    .homefeaturedProductPrice{
                    }
                }
            }
            .homeNewsletter{
                background-image: url('../images/homeNewsletterBackground.jpg');
                background-size: cover;
                background-position: left center;
                background-attachment: fixed;
                min-height: 50vh;
                .homeNewsletterIn{
                    min-height: 50vh;
                    .disFlex;
                    .alignItemsCenter;
                    .homeNewsletterForm{
                        .disFlex;
                        .noFlexWrap;
                    }
                }
            }
            .homeTestimonials{
                .shadeBackgroundColor;
                .homeTestimonialsIn{
                    .homeTestimonialsContainer{
                        padding: 2.5vw 1rem;
                        .homeTestimonialsContainerIn{
                            .disFlex;
                            .alignItemsCenter;
                            .justifyContentCenter;
                            .homeTestimonialsImgCarousel{
                                .disFlex;
                                .alignItemsCenter;
                                .justifyContentCenter;
                                .homeTestimonialImgDiv{
                                    height: 200px;
                                    .disFlex;
                                    .alignItemsCenter;
                                    .justifyContentCenter;
                                    .homeTestimonialImg{
                                        width: 100px;
                                        height: 100px;
                                        object-fit: cover;
                                        object-position: center;
                                        border-radius: 100%;
                                        .marginLRAuto;
                                        filter: grayscale(100%);
                                        transition: all 0.5s ease-in-out;
                                        @media(max-width: 575px) {
                                            width: 50px;
                                            height: 50px;
                                        }
                                    }
                                    &.active{
                                        .homeTestimonialImg{
                                            width: 200px;
                                            height: 200px;
                                            filter: grayscale(0%);
                                            @media(max-width: 575px) {
                                                width: 100px;
                                                height: 100px;
                                            }
                                        }
                                    }
                                    @media(max-width: 575px) {
                                        height: 100px;
                                    }
                                }
                            }
                            .homeTestimonialsContentCarousel{
                                .homeTestimonialContentDiv{
                                    .disNone;
                                    .alignItemsCenter;
                                    .justifyContentCenter;
                                    p{
                                        white-space: nowrap;
                                        .hiddenOverflow;
                                        text-overflow: ellipsis;
                                    }
                                    &.active{
                                        .disFlex;
                                    }
                                }
                            }
                            .carousel-controls-div{
                                .carousel-controls-div-in{
                                    .disFlex;
                                    .alignItemsCenter;
                                    .justifyContentCenter;
                                    .carouselActiveCount{
                                        margin: 0.5em;
                                        font-size: @defaultFontSize + 2px;
                                        .baseColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .kurvzFooter{
            .footerBackgroundColor;
            background-image: url('../images/footerBackground.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: fade(@whiteColor, 50%);
            font-weight: 100;
            .kurvzFooterIn{
                .kurvzFooterContainer{
                    padding: 2rem 1rem;
                    .kurvzFooterContainerIn{
                        .disFlex;
                        .alignItemsFlexStart;
                        .footerLogoDiv{
                            .footerLogoDivIn{
                                .footerLogo{
                                    max-height: 150px;
                                    width: auto;
                                    .marginLRAuto;
                                }
                            }
                        }
                        .footerSocialDetailsDiv{
                            .footerSocialDetailsDivIn{
                                .footerDetails{
                                    margin: 1em auto;
                                }
                                .footerSocialDiv{
                                    .footerSocialDivIn{
                                        .disFlex;
                                        .justifySpaceBetween;
                                        .footerSocial{
                                            .noMargin;
                                            .footerSocialIcons{
                                                .footerSocialIconsIn{
                                                    filter: grayscale(100%);
                                                    .footerSocialIcon{
                                                        width: 20px;
                                                        height: 20px;
                                                        filter: grayscale(100%);
                                                    }
                                                    &:hover{
                                                        .footerSocialIcon{
                                                            filter: grayscale(0%);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .footerLinksDiv{
                            .textCenter;
                            .footerLinksDivIn{
                                .footerLinks{
                                    .footerGroupIcons{
                                        width: 50px;
                                        height: 50px;
                                        object-fit: contain;
                                        margin: 0em auto 0.5em;
                                    }
                                    .footerLinksList{
                                        .footerLink{
                                            a{
                                                color: fade(@whiteColor, 50%);
                                                font-size: @defaultFontSize + 2px;
                                            }
                                            &.viewMore{
                                                a{
                                                    font-weight: 500;
                                                    .textUnderline;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .kurvzCopyright{
                .whiteColor;
                .footerBackgroundColor;
                padding: 0.5em 0em;
                font-weight: 100;
                a{
                    font-weight: 500;
                }
            }
        }
    }
}