* {
  padding: 0;
  margin: 0;
}
.greatVibes {
  font-family: 'Great Vibes', cursive;
}
.coiny {
  font-family: 'Coiny', cursive;
}
.lightFontColor {
  color: #898989;
}
.pinkColor {
  color: #EC407A;
}
.baseBackgroundColor {
  background-color: #DF1C23;
}
.homeHeaderBaseBackgroundColor {
  background-color: rgba(223, 28, 35, 0.2);
}
.homeBannerBaseBackgroundColor {
  background-color: rgba(223, 28, 35, 0.8);
}
.pinkBackgroundColor {
  background-color: #EC407A;
}
.whiteBackgroundColor {
  background-color: #ffffff;
}
.blackBackgroundColor {
  background-color: #000000;
}
.shadeBackgroundColor {
  background-color: #e9e3ff;
}
.wrapperBackgroundColor {
  background-color: #f9f9f9;
}
.logoBackgroundColor {
  background-color: #d6cffb;
}
.footerBackgroundColor {
  background-color: #01002A;
}
.copyrightBackgroundColor {
  background-color: #0f141b;
}
.transparentBackgroundColor {
  background-color: transparent;
}
.baseColor {
  color: #DF1C23;
}
.footerColor {
  color: #01002A;
}
.whiteColor {
  color: #ffffff;
}
.blackColor {
  color: #000000;
}
p {
  margin-bottom: 0;
}
a {
  color: #DF1C23;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
}
.textNoDecoration {
  text-decoration: none;
}
.textUnderline {
  text-decoration: underline;
}
.textLeft {
  text-align: left;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.noPadding {
  padding: 0;
}
.noRLpadding {
  padding-left: 0!important;
  padding-right: 0!important;
}
.noTBpadding {
  padding-top: 0;
  padding-bottom: 0;
}
.marginLAuto {
  margin-left: auto;
}
.marginRAuto {
  margin-right: auto;
}
.marginLRAuto {
  margin-left: auto;
  margin-right: auto;
}
.margin1emAuto {
  margin: 1em auto;
}
.margin1emTop {
  margin-top: 1em;
}
.margin1emBottom {
  margin-bottom: 1em;
}
.noMargin {
  margin: 0;
}
.noRLmargin {
  margin-left: 0;
  margin-right: 0;
}
.noTBmargin {
  margin-top: 0;
  margin-bottom: 0;
}
.noBorderRadius {
  border-radius: 0;
}
.posRelative {
  position: relative;
}
.posAbsolute {
  position: absolute;
}
.he100 {
  height: 100%;
}
.heAuto {
  height: auto;
}
.wiAuto {
  width: auto;
}
.wi100 {
  width: 100%;
}
.disBlock {
  display: block;
}
.disInline {
  display: inline;
}
.disInlineBlock {
  display: inline-block;
}
.disNone {
  display: none;
}
.disFlex {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.noFlexWrap {
  flex-wrap: nowrap;
}
.alignItemsNormal {
  align-items: normal;
}
.alignItemsCenter {
  align-items: center;
}
.alignItemsFlexStart {
  align-items: flex-start;
}
.alignItemsFlexEnd {
  align-items: flex-end;
}
.alignContentFlexStart {
  align-content: flex-start;
}
.alignContentCenter {
  align-content: center;
}
.alignContentFlexEnd {
  align-content: flex-end;
}
.alignSelfCenter {
  align-self: center;
}
.alignSelfFlexStart {
  align-self: flex-start;
}
.alignSelfFlexEnd {
  align-self: flex-end;
}
.justifyContentCenter {
  justify-content: center;
}
.justifyFlexStart {
  justify-content: flex-start;
}
.justifyFlexEnd {
  justify-content: flex-end;
}
.justifySpaceBetween {
  justify-content: space-between;
}
.justifySpaceAround {
  justify-content: space-around;
}
.justifySpaceEvenly {
  justify-content: space-evenly;
}
.disInlineFlex {
  display: inline-flex;
}
.visVisible {
  visibility: visible;
}
.visHidden {
  visibility: hidden;
}
.border1pxBlack {
  border: 1px solid #000000;
}
.border1pxWhite {
  border: 1px solid #ffffff;
}
.border1pxBase {
  border: 1px solid #DF1C23;
}
.border1pxShade {
  border: 1px solid #e9e3ff;
}
.border1pxWrapper {
  border: 1px solid #f9f9f9;
}
.noBorder {
  border: 0;
}
.btn {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
}
.defaultButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: #DF1C23;
  color: #ffffff;
  border: 1px solid #DF1C23;
  border-radius: 0;
}
.defaultButton:hover {
  background-color: #ffffff;
  color: #DF1C23;
}
.defaultWhiteButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: #ffffff;
  color: #DF1C23;
  border: 1px solid #DF1C23;
  border-radius: 0;
}
.defaultWrapperButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #f9f9f9;
  border-radius: 0;
}
.defaultGradientButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
  background: linear-gradient(to right, #ce1fa3, #88488c);
  color: #ffffff;
  border: 1px solid #DF1C23;
  border-radius: 0;
}
.defaultRoundedButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: #DF1C23;
  color: #ffffff;
  border: 1px solid #DF1C23;
  border-radius: 0.5em;
}
.defaultTransparentButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
}
.defaultTransparentBorderedButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #DF1C23;
  border-radius: 0;
}
.defaultTransparentNoBorderButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  border: 0;
}
.btn.smallButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 12px;
  border-radius: 0;
}
input,
input.form-control {
  padding: 0.5em 1em;
  border-radius: 0;
  border: 1px solid #DF1C23;
  font-size: 14px;
}
input:focus,
input.form-control:focus {
  outline-style: none;
  box-shadow: none;
}
.formAlert {
  margin: 0.5em auto;
}
.hiddenOverflow {
  overflow: hidden;
}
.asyncLoading {
  min-height: 70vh;
  align-content: center;
  align-items: center;
}
.loadingSpinner {
  width: 250px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.addToCart {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.addToCart input {
  font-size: 14px;
}
.addToCart .btn {
  font-size: 12px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #d6cffb;
}
::-webkit-scrollbar-thumb {
  background-color: #01002A;
}
::-moz-selection {
  color: #ffffff;
  background-color: #DF1C23;
}
::selection {
  color: #ffffff;
  background-color: #DF1C23;
}
body {
  font-family: 'Roboto', sans-serif;
}
body .kurvzWrapper .kurvzHeader {
  position: absolute;
  top: 0;
  z-index: 99;
}
body .kurvzWrapper .kurvzHeader .kurvzHeaderIn .toggleNavigationLink {
  text-align: center;
  max-width: 50px;
  position: fixed;
  left: 1%;
  top: 1em;
  color: #898989;
  font-size: 12px;
}
body .kurvzWrapper .kurvzHeader .kurvzHeaderIn .toggleNavigationLink .braMenu {
  max-height: 30px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
body .kurvzWrapper .kurvzHeader .kurvzHeaderIn .headerLogoLink {
  max-width: 160px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 0.5em;
  transform: translateX(-50%);
}
body .kurvzWrapper .kurvzHeader .kurvzHeaderIn .headerLogoLink .headerLogo {
  width: 100%;
  height: auto;
}
body .kurvzWrapper .kurvzMenuDiv {
  position: fixed;
  left: -100%;
  top: 0;
  background-color: rgba(1, 0, 42, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
}
body .kurvzWrapper .kurvzMenuDiv .kurvzMenuDivIn {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .kurvzWrapper .kurvzMenuDiv .kurvzMenuDivIn .kurvzMenu {
  color: #ffffff;
}
body .kurvzWrapper .kurvzMenuDiv .kurvzMenuDivIn .kurvzMenu .kurvzMenuLinks .kurvzMenuLink {
  color: #ffffff;
  font-family: 'Great Vibes', cursive;
  font-size: 5vmax;
}
body .kurvzWrapper .kurvzMenuDiv .kurvzMenuDivIn .kurvzMenuCloseDiv {
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel {
  height: 100vh;
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner {
  height: 100%;
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item {
  height: 100%;
  position: relative;
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerCarouselBG {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  object-position: 70%;
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerOverlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 992px) {
  body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerOverlay {
    display: block;
  }
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerContent {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 50%;
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerContent .homeBannerTitle {
  position: relative;
  margin: 0;
  font-size: 10vmax;
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerContent .homeBannerText {
  font-size: 3vmin;
  color: #898989;
}
@media (max-width: 992px) {
  body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerContent .homeBannerText {
    color: #000000;
    font-size: 4vmin;
  }
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerContent .homeBannerLink {
  margin: 0.5em auto;
}
@media (max-width: 992px) {
  body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerContent .homeBannerLink {
    font-size: 3vmin;
  }
}
@media (max-width: 992px) {
  body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-inner .item .homeBannerContent {
    bottom: 0%;
    left: 50%;
    top: unset;
    width: 100%;
  }
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-indicators li {
  border: 1px solid #DF1C23;
}
body .kurvzWrapper .homePage .carousel.homeBannerCarousel .carousel-indicators li.active {
  background-color: #DF1C23;
}
body .kurvzWrapper .homePage .homeGroups {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50vh;
}
body .kurvzWrapper .homePage .homeGroups .homeGroupOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
body .kurvzWrapper .homePage .homeGroups .homeGroupsIn {
  overflow-y: hidden;
}
body .kurvzWrapper .homePage .homeGroups .homeGroupsIn .homeGroupsContainer .homeGroupsContainerIn .homeGroupLinkDiv .homeGroupLinkDivIn {
  padding: 1rem;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .kurvzWrapper .homePage .homeGroups .homeGroupsIn .homeGroupsContainer .homeGroupsContainerIn .homeGroupLinkDiv .homeGroupLinkDivIn .homeGroupLink {
  align-self: flex-end;
}
body .kurvzWrapper .homePage .homeGroups .homeGroupsIn .homeGroupsContainer .homeGroupsContainerIn .homeGroupLinkDiv .homeGroupLinkDivIn .homeGroupLink .homeGroupImg {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}
@media (min-width: 1025px) {
  body .kurvzWrapper .homePage .homeGroups .homeGroupsIn .homeGroupsContainer .homeGroupsContainerIn .homeGroupLinkDiv .homeGroupLinkDivIn .homeGroupLink .homeGroupImg {
    filter: grayscale(100%);
  }
}
body .kurvzWrapper .homePage .homeGroups .homeGroupsIn .homeGroupsContainer .homeGroupsContainerIn .homeGroupLinkDiv .homeGroupLinkDivIn .homeGroupLink .homeGroupTitle {
  color: #898989;
  font-family: 'Great Vibes', cursive;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
  margin: 0.5em auto;
  font-weight: 900;
}
body .kurvzWrapper .homePage .homeGroups .homeGroupsIn .homeGroupsContainer .homeGroupsContainerIn .homeGroupLinkDiv .homeGroupLinkDivIn .homeGroupLink:hover .homeGroupImg {
  filter: grayscale(0%);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}
body .kurvzWrapper .homePage .homeGroups .homeGroupsIn .homeGroupsContainer .homeGroupsContainerIn .homeGroupLinkDiv .homeGroupLinkDivIn .homeGroupLink:hover .homeGroupTitle {
  color: #EC407A;
}
@media (max-width: 767px) {
  body .kurvzWrapper .homePage .homeGroups .homeGroupsIn .homeGroupsContainer .homeGroupsContainerIn .homeGroupLinkDiv .homeGroupLinkDivIn {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  body .kurvzWrapper .homePage .homeGroups {
    height: auto;
  }
}
body .kurvzWrapper .homePage .homeFeaturedCategory {
  background-image: url('../images/homeFeaturedCategory.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 80vh;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .kurvzWrapper .homePage .homeFeaturedCategory .homeFeaturedCategoryIn {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body .kurvzWrapper .homePage .homeFeaturedCategory .homeFeaturedCategoryIn .homeFeaturedCategoryTitle {
  padding: 2rem;
  font-family: 'Great Vibes', cursive;
  font-size: 8rem;
}
body .kurvzWrapper .homePage .homeFeaturedCategory .homeFeaturedCategoryIn .homeFeaturedCategoryText {
  color: #898989;
}
body .kurvzWrapper .homePage .homeFeaturedCategory .homeFeaturedCategoryIn .homeFeaturedCategoryText {
  font-size: 3vmin;
  color: #898989;
}
@media (max-width: 992px) {
  body .kurvzWrapper .homePage .homeFeaturedCategory .homeFeaturedCategoryIn .homeFeaturedCategoryText {
    color: #000000;
    font-size: 4vmin;
  }
}
body .kurvzWrapper .homePage .homeFeaturedCategory .homeFeaturedCategoryIn .homeFeaturedCategoryLink {
  margin: 0.5em auto;
}
@media (max-width: 992px) {
  body .kurvzWrapper .homePage .homeFeaturedCategory .homeFeaturedCategoryIn .homeFeaturedCategoryLink {
    font-size: 3vmin;
  }
}
body .kurvzWrapper .homePage .homeFeaturedProducts {
  padding: 2rem 1rem;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductSelector {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductSelector .homeFeaturedProductSelectorLink {
  color: #898989;
  margin: 0.5em;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductSelector .homeFeaturedProductSelectorLink.active {
  background-color: #DF1C23;
  color: #ffffff;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductsIn {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductsIn .homeFeaturedProductImgDiv {
  cursor: pointer;
  overflow: hidden;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductsIn .homeFeaturedProductImgDiv .homeFeaturedProductImgFront {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 0px 15px;
  transition: opacity 0.5s ease-in-out;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductsIn .homeFeaturedProductImgDiv .productOptions {
  height: 100%;
  position: absolute;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  right: 0em;
  transform: translateX(100%);
  top: 0em;
  width: 20px;
  transition: transform 0.25s ease-in-out;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductsIn .homeFeaturedProductImgDiv .productOptions .productOption {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 10px;
  margin: 0.5em auto;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #DF1C23;
  color: #ffffff;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductsIn .homeFeaturedProductImgDiv:hover .homeFeaturedProductImgFront {
  opacity: 1;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductsIn .homeFeaturedProductImgDiv:hover .productOptions {
  transform: translateX(0%);
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductsIn .homefeaturedProductTitle {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
  margin: 0.5em auto;
}
body .kurvzWrapper .homePage .homeFeaturedProducts .homeFeaturedProductsIn .homefeaturedProductRating {
  margin-bottom: 0.5em;
}
body .kurvzWrapper .homePage .homeNewsletter {
  background-image: url('../images/homeNewsletterBackground.jpg');
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  min-height: 50vh;
}
body .kurvzWrapper .homePage .homeNewsletter .homeNewsletterIn {
  min-height: 50vh;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body .kurvzWrapper .homePage .homeNewsletter .homeNewsletterIn .homeNewsletterForm {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
body .kurvzWrapper .homePage .homeTestimonials {
  background-color: #e9e3ff;
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer {
  padding: 2.5vw 1rem;
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsImgCarousel {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsImgCarousel .homeTestimonialImgDiv {
  height: 200px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsImgCarousel .homeTestimonialImgDiv .homeTestimonialImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}
@media (max-width: 575px) {
  body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsImgCarousel .homeTestimonialImgDiv .homeTestimonialImg {
    width: 50px;
    height: 50px;
  }
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsImgCarousel .homeTestimonialImgDiv.active .homeTestimonialImg {
  width: 200px;
  height: 200px;
  filter: grayscale(0%);
}
@media (max-width: 575px) {
  body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsImgCarousel .homeTestimonialImgDiv.active .homeTestimonialImg {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 575px) {
  body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsImgCarousel .homeTestimonialImgDiv {
    height: 100px;
  }
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsContentCarousel .homeTestimonialContentDiv {
  display: none;
  align-items: center;
  justify-content: center;
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsContentCarousel .homeTestimonialContentDiv p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .homeTestimonialsContentCarousel .homeTestimonialContentDiv.active {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .carousel-controls-div .carousel-controls-div-in {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .kurvzWrapper .homePage .homeTestimonials .homeTestimonialsIn .homeTestimonialsContainer .homeTestimonialsContainerIn .carousel-controls-div .carousel-controls-div-in .carouselActiveCount {
  margin: 0.5em;
  font-size: 16px;
  color: #DF1C23;
}
body .kurvzWrapper .kurvzFooter {
  background-color: #01002A;
  background-image: url('../images/footerBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer {
  padding: 2rem 1rem;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerLogoDiv .footerLogoDivIn .footerLogo {
  max-height: 150px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerSocialDetailsDiv .footerSocialDetailsDivIn .footerDetails {
  margin: 1em auto;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerSocialDetailsDiv .footerSocialDetailsDivIn .footerSocialDiv .footerSocialDivIn {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerSocialDetailsDiv .footerSocialDetailsDivIn .footerSocialDiv .footerSocialDivIn .footerSocial {
  margin: 0;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerSocialDetailsDiv .footerSocialDetailsDivIn .footerSocialDiv .footerSocialDivIn .footerSocial .footerSocialIcons .footerSocialIconsIn {
  filter: grayscale(100%);
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerSocialDetailsDiv .footerSocialDetailsDivIn .footerSocialDiv .footerSocialDivIn .footerSocial .footerSocialIcons .footerSocialIconsIn .footerSocialIcon {
  width: 20px;
  height: 20px;
  filter: grayscale(100%);
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerSocialDetailsDiv .footerSocialDetailsDivIn .footerSocialDiv .footerSocialDivIn .footerSocial .footerSocialIcons .footerSocialIconsIn:hover .footerSocialIcon {
  filter: grayscale(0%);
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerLinksDiv {
  text-align: center;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerLinksDiv .footerLinksDivIn .footerLinks .footerGroupIcons {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0em auto 0.5em;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerLinksDiv .footerLinksDivIn .footerLinks .footerLinksList .footerLink a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
body .kurvzWrapper .kurvzFooter .kurvzFooterIn .kurvzFooterContainer .kurvzFooterContainerIn .footerLinksDiv .footerLinksDivIn .footerLinks .footerLinksList .footerLink.viewMore a {
  font-weight: 500;
  text-decoration: underline;
}
body .kurvzWrapper .kurvzFooter .kurvzCopyright {
  color: #ffffff;
  background-color: #01002A;
  padding: 0.5em 0em;
  font-weight: 100;
}
body .kurvzWrapper .kurvzFooter .kurvzCopyright a {
  font-weight: 500;
}
