body {
  background-color: #80808021;
}
@keyframes bannerTextanimation {
  0% {
    left: -200px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: 0px;
  }
}
.categoryimg {
  width: 47%;
}
.wi100 {
  width: 100%;
}
.posAbs {
  position: absolute;
}
.posLeft {
  transform: translateX(-50%);
}
.BackgroundColor {
  background-color: #fe7799;
}
.bannerText {
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
}
.bannerContent {
  font-size: 24px;
  color: #808080c7;
}
.bannerShopnow {
  font-size: 22px;
}
.kurvzTitle {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
}
@media (max-width: 575px) {
  .body-wrap .carousel-indicators {
    display: none;
  }
}
.body-wrap .kurvzband {
  padding: 2em;
}
@media (max-width: 575px) {
  .body-wrap .kurvzband {
    padding: 1em;
  }
}
.body-wrap .KurvzLogo {
  position: absolute;
  z-index: 1;
  left: 50%;
  transition: 500ms;
  transform: translateX(-50%);
  padding: 0.25% 3% 0% 3%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 1px 6px 3px #0000004d;
  background-image: linear-gradient(to left top, #000116, #0e0f30, #1d144a, #371362, #580076);
}
.body-wrap .KurvzLogo .logo {
  height: 60px;
  width: auto;
}
.body-wrap .fixed {
  position: fixed !important;
  left: 94% !important;
  transform: translateX(-100%) !important;
  top: 0% !important;
  background: white;
  padding: 2px 4px;
  border-radius: 7px;
  border: 1px solid #a7191d;
  box-shadow: 2px 6px 6px 1px #0000001a;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color: transparent;
}
.body-wrap .KurvzBannerText {
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 26%;
  /*animation-name:bannerTextanimation;
		animation-duration: 3s;*/
}
.body-wrap .KurvzBannerTitle {
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
}
@media (max-width: 575px) {
  .body-wrap .KurvzBannerTitle {
    font-size: 28px;
  }
}
.body-wrap .KurvzBannerContent {
  font-size: 24px;
  color: #808080c7;
}
@media (max-width: 575px) {
  .body-wrap .KurvzBannerContent {
    font-size: 17px;
  }
}
.body-wrap .KurvzBannerShopnow {
  font-size: 22px;
}
@media (max-width: 575px) {
  .body-wrap .KurvzBannerShopnow {
    font-size: 12px;
  }
}
.body-wrap .shopnow {
  color: #ff779a;
}
.body-wrap .customIndicator {
  background-color: #ff779a;
}
.body-wrap .sidebartoggle {
  position: fixed;
  z-index: 1;
  padding: 0% 3%;
  color: #c81b21;
  cursor: pointer;
}
.body-wrap .sidebartoggle i{
  font-size: 3em;
}
.body-wrap .sidebartoggle .togglebar {
  width: 10%;
}
.body-wrap .sidebartoggle .togglebar:hover {
  cursor: pointer;
}
.body-wrap .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: 'Great Vibes', cursive;
}
.body-wrap .overlay ul {
  list-style-type: none;
}
.body-wrap .overlay .overlay-content {
  position: relative;
  top: 13%;
  width: 100%;
  text-align: center;
}
.body-wrap .overlay a {
  padding: 5px;
  text-decoration: none;
  font-size: 52px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.body-wrap .overlay a:hover,
.body-wrap .overlay a:focus {
  color: #ff779a;
}
.body-wrap .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.body-wrap .submenu {
  display: none;
}
.body-wrap .Menu .parentMenu:hover .submenu {
  display: inline-flex;
  padding-left: 41%;
  transition: 3s;
}
.body-wrap .categoryWrap {
  background-image: url(../images/categoryBanner.png);
  padding-top: 6rem;
}
@media screen and (min-width: 320px) and (max-width: 769px) {
  .body-wrap .categoryWrap #KurvzMainCategory {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.body-wrap .categoryWrap .kurvzCategoryTitle {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
}
.body-wrap .categoryWrap .kurvzCategoryBand {
  padding: 1em;
  background-color: grey;
}
.body-wrap .categoryWrap .kurvzCategory {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  height: 70vh;
  display: flex;
  overflow: hidden;
}
.body-wrap .categoryWrap .kurvzCategory .kurvzCategoryImage {
  width: auto;
  height: 100%;
  max-width: 100%;
  transition: transform .5s ease-in-out;
}
.body-wrap .categoryWrap .kurvzCategoryhover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /*transform: scale(0.85);*/
}
.body-wrap .ElegantSeries {
  background-image: url('../images/bg_promo4.jpg');
  padding: 6%;
  background-size: cover;
  margin: 0;
  width: 100%;
  background-attachment: fixed;  
}
.body-wrap .ElegantSeries .ElegantSeriesText {
  margin-left: 50%;
}
@media screen and (min-width: 320px) and (max-width: 769px) {
  .body-wrap .ElegantSeries .ElegantSeriesText {
    margin: 0%;
  }
}
.body-wrap .ElegantSeries .KurvzBannerTitle {
  color: #fff;
}
.body-wrap .KurvzmustHave .mustHaveOne {
  padding: 0rem 2rem;
  overflow: hidden;
  position: relative;
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages {
  position: relative;
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages .frontImage {
  width: 100%;
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages .backImage {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages .shopOptions {
  transform: translateX(100%);
  position: absolute;
  right: 11%;
  top: 27%;
  font-size: 11px;
  color: #fff;
}
@media (max-width: 575px) {
  .body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages .shopOptions {
    top: 3%;
  }
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages .shopOptions ul {
  list-style-type: none;
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages .shopOptions ul li {
  padding-top: 12px;
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages .shopOptions ul li .shopItem {
  background-color: #ff779a;
  border-radius: 100%;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 575px) {
  .body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages .shopOptions ul li .shopItem {
    padding: 6px;
  }
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages .shopOptions ul li .shopItem:hover {
  background-color: #F50381;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages:hover {
  cursor: pointer;
}
.body-wrap .KurvzmustHave .mustHaveOne .mustHaveImages:hover .shopOptions {
  transform: translateX(0%);
  transition: transform 0.5s;
}
.body-wrap .KurvzmustHave .mustHaveOne .produtTitle {
  font-family: 'Lobster', cursive;
  font-size: 17px;
  padding-top: 10px;
}
.body-wrap .KurvzmustHave .mustHaveOne .productRating .filledStar {
  color: #ff779a;
}
.body-wrap .KurvzmustHave .mustHaveOne .productRating .emptyStar {
  color: #ff779a;
}
.body-wrap .KurvzmustHave .mustHaveOne .productPrice {
  font-weight: bold;
  font-size: 13px;
  padding-top: 5px;
}
.body-wrap .signUp {
  background-image: url('../images/parllax.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em;
}
@media (max-width: 575px) {
  .body-wrap .signUp {
    padding: 0em;
  }
}
.body-wrap .signUp .signUpContent {
  margin-left: 50%;
}
@media screen and (min-width: 320px) and (max-width: 769px) {
  .body-wrap .signUp .signUpContent {
    margin: 0%;
  }
}
.body-wrap .signUp .signUpHeading {
  padding: 1em;
  font-size: 22px;
}
@media (max-width: 575px) {
  .body-wrap .signUp .signUpHeading {
    padding: 0em;
  }
}
.body-wrap .signUp .signUpText {
  font-size: 21px;
  color: gray;
  font-family: 'Playfair Display', serif;
  padding-bottom: 4em;
  /*padding-top: 3em;*/
}
.body-wrap .signUp .signUpEmail .kurvzInput {
  padding: 1.1em;
  width: 50%;
  border: 1px solid #c81b21;
  border-radius: 0;
}
@media (max-width: 575px) {
  .body-wrap .signUp .signUpEmail .kurvzInput {
    padding: 0.5em;
    width: 66%;
  }
}
.body-wrap .signUp .signUpEmail .KurvzBtn {
  background-color: #c81b21;
  border: none;
  padding: 1em 3em;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;

}
.body-wrap .testimonial {
  background-color: #fff;
  box-shadow: 5px 7px 8px 0px rgba(0, 0, 0, 0.75);
}
@media (max-width: 575px) {
  .body-wrap .testimonial .testimonialName {
    font-size: 9px;
    padding: 10px;
  }
}
.body-wrap .testimonial .testimonialText {
  padding: 46px 11em;
  font-size: 20px;
  color: gray;
  font-family: 'Playfair Display', serif;
}
@media (max-width: 575px) {
  .body-wrap .testimonial .testimonialText {
    padding: 0px;
    font-size: 8px;
  }
}
.body-wrap .testimonial .testimonialImage {
  height: 30vh;
  padding: 3em;
}
@media (max-width: 575px) {
  .body-wrap .testimonial .testimonialImage {
    padding: 1em;
    height: 0vh;
  }
}
.body-wrap .testimonial .testimonialImage .personImage {
  width: 10%;
}
.body-wrap .testimonial .testimonialPages {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-wrap .footer {
  background-image: url('../images/94467463-horizontally-seamless-lilac-lace-background-with-floral-pattern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.body-wrap .kurvzFooterContent {
  background: #e91e6399;
}
.body-wrap .kurvzFooterContent .footerLeftContent {
  padding: 2em;
  color: #fff;
  font-size: 16px;
}
.body-wrap .kurvzFooterContent .footerLeftContent .kurvzFooterLogo .logo {
  height: 60px;
  width: auto;
}
.body-wrap .kurvzFooterContent .footerRightContent {
  padding: 2em;
  color: #fff;
  font-size: 16px;
}
.body-wrap .kurvzFooterContent .footerRightContent ul {
  list-style-type: none;
  font-family: 'Playfair Display', serif;
}
.body-wrap .kurvzFooterContent .footerRightContent ul li {
  padding: .2em;
}
.body-wrap .kurvzFooterContent .kurvzCopyright {
  border-top: 1px solid #9E9E9E;
  padding: 1em;
  background-color: #000000cf;
}
.body-wrap .kurvzFooterContent .kurvzCopyright p {
  font-family: 'Playfair Display', serif;
  color: #fff;
}
.signUpIcon img{
  width: 10%;
}
.signUpHeading p b{
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
  font-size: 1.5em;
}
.categoryText{
  position: relative;
  top: -38%;
  color: grey;
  right: -35%;
  transform: rotate(90deg);
  font-size: 5em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  text-align: left;
}