body{
	background-color:#80808021;
}
@pinkBackground-color:#FE7799;
@whiteColor : #ffffff;
@bannerTitlesize:100px;
@defaultFontSize : 22px;
@titlefontsize:2.5em;
@bannerfontfamily : 'Great Vibes', cursive;
@titlefontfamily:'Playfair Display', serif;
@zindex:1;
@pinkcolor:#FF779A;
@productname:'Lobster', cursive;
@keyframes bannerTextanimation {
    0%   {left:-200px; top:0px;}
    25%  {left:0px; top:0px;}
}
.categoryimg{
	width:47%;
}
.wi100{
width:100%;
}
.posAbs{
	position: absolute;
}
.posLeft{
	transform: translateX(-50%);
}
.BackgroundColor{
	background-color: @pinkBackground-color;
}
.bannerText{
	font-family:@bannerfontfamily;
	font-size:@bannerTitlesize;
}
.bannerContent{
	font-size: 24px;
    color: #808080c7;
}
.bannerShopnow{
	font-size:@defaultFontSize;
}
.kurvzTitle{
	font-family:@titlefontfamily;
	font-size:@titlefontsize;
}
.body-wrap {
.carousel-indicators{
	@media (max-width: 575px) {
	display:none;
	}
}
.kurvzband{
	padding:2em;
	@media (max-width: 575px) {
		padding:1em;
	}
}
	.KurvzLogo{
	    .posAbs;
	    z-index: @zindex;
	    left: 50%;
	    transition: 500ms;
	    .posLeft;
		.logo{
			height: 60px;
			width: auto;
		}
	}
	.fixed{
		  position: fixed !important;
		  left: 94% !important;
		  transform: translateX(-100%) !important;
		  top:0% !important;
		  background: white;
		  padding: 2px 4px;
		  border-radius: 7px;
		  border: 1px solid #a7191d;
		  box-shadow: 2px 6px 6px 1px #0000001a;
	}
	.KurvzBannerText{
		.posAbs;
		z-index: @zindex;
		left: 5%;
    	top: 26%;
		/*animation-name:bannerTextanimation;
		animation-duration: 3s;*/
		}
	.KurvzBannerTitle{
		.bannerText;
		@media (max-width: 575px) {
		    font-size: 28px;
			}
		}
	.KurvzBannerContent{
		.bannerContent;
		@media (max-width: 575px) {
		    font-size: 17px;
			}
		}
	.KurvzBannerShopnow{
		.bannerShopnow;
		@media (max-width: 575px) {
		    font-size: 12px;
			}
		}
	.shopnow{
		color:@pinkcolor;
		}
	.customIndicator{
		background-color:@pinkcolor;
		}
.sidebartoggle{
		position:fixed;
		z-index: @zindex;
		.togglebar{
				width:10%;
				}
				.togglebar:hover{
				cursor:pointer;
				}
			}	
.overlay {
	ul{
		list-style-type:none;
	}
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 999;
	    top: 0;
	    left: 0;
	    background-color: rgb(0,0,0);
	    background-color: rgba(0,0,0, 0.9);
	    overflow-x: hidden;
	    transition: 0.5s;
	    font-family:@bannerfontfamily;

.overlay-content {
	    position: relative;
	    top: 13%;
	    width: 100%;
	    text-align: center;
	}
}
.overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 52px;
    color: #818181;
    display: block;
    transition: 0.3s;
		}
.overlay a:hover, .overlay a:focus {
    color: @pinkcolor;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.submenu{
	display:none;
}
.Menu .parentMenu:hover .submenu{
	    display: inline-flex;
    	padding-left: 41%;
    	transition:3s;

}
.categoryWrap{
		#KurvzMainCategory{
				@media screen and(min-width: 320px) and (max-width:769px) {
					display: flex;
				    align-items: center;
				    justify-content: center;
			}
		}
	background-image:url(../images/categoryBanner.png);
			.kurvzCategoryTitle{
					.kurvzTitle;	
			}
			.kurvzCategoryBand{
					padding:1em;
					background-color:grey;
			}
			.kurvzCategory
			{
						transition: all .2s;
						
						-webkit-filter: grayscale(0%);
						filter: grayscale(0%);
						.kurvzCategoryImage{
							.categoryimg;
						}
			}
			.kurvzCategoryhover{
						-webkit-filter: grayscale(100%);
  						filter: grayscale(100%);
  						transform: scale(0.85);
			}
}
.ElegantSeries{
	background-image:url('../images/bg_promo4.jpg');
	padding: 6%;
	background-size: cover;
	.ElegantSeriesText{
		margin-left:50%;
		@media screen and (min-width:320px)and (max-width:769px){
		margin:0%;
		}
		}
		.KurvzBannerTitle{
		color:#fff;
		}
}	


.KurvzmustHave{
	.mustHaveOne{
	    padding: 0rem 2rem;
		overflow:hidden;
		position:relative;
		.mustHaveImages{
			position:relative;
			.frontImage{
				width:100%;
			}
			.backImage{
				.posAbs;
				left:0px;
				top:0px;
				width:100%;
				height:100%;
			}
			.shopOptions{
				transform:translateX(100%);
				.posAbs;
				right: 11%;
		    	top: 27%;
		    	font-size:11px;
		    	color:#fff;
	    		@media (max-width: 575px) {
		    	    top: 3%;
			    }
				ul{
					list-style-type:none;
					li{
						padding-top:12px;
				    	.shopItem{
						    background-color:@pinkcolor;
						    border-radius: 100%;
						    padding: 10px;
						    -webkit-transition: -webkit-transform .5s ease-in-out;
          					transition:transform .5s ease-in-out;
						    @media (max-width: 575px) {
					    	    padding: 6px;
						    }
					    	&:hover{
				    			background-color:#F50381;
				    			-webkit-transform: rotate(360deg);
         	 					transform: rotate(360deg);
				    		}
						}
					}
				}
			}
			&:hover{
				cursor:pointer;
				.shopOptions{
					transform:translateX(0%);
					transition:transform 0.5s;
				}
			}
		}
		.produtTitle{
			font-family:@productname;
		    font-size: 17px;
    		padding-top: 10px;
			}
		.productRating{
			.filledStar{
				color:@pinkcolor;
			}
			.emptyStar{
				color:@pinkcolor;
			}
		}
		.productPrice {
			font-weight: bold;
    		font-size: 13px;
    	   	padding-top: 5px;
		}
	}
}


.signUp{
	background-image:url('../images/parllax.jpg');
	 background-attachment: fixed;
	 background-repeat:no-repeat;
	 background-size: cover;
     padding: 5em;
     @media (max-width: 575px) {
     	padding:0em;
     }
     .signUpContent{
     	margin-left:50%;
     	@media screen and (min-width:320px)and (max-width:769px){
		margin:0%;
		}
     }
     .signUpHeading {
		     padding:1em;
		     font-size:@defaultFontSize;
		     @media (max-width: 575px) {
		     padding:0em;
		     }
     }
     .signUpText{
		     font-size: 21px;
		     color: gray;
		     font-family:@titlefontfamily;
		     padding-bottom: 4em;
    		 padding-top: 3em;
     }
     .signUpEmail{
     		.kurvzInput{
     			padding: 1em;
    			width: 50%;
    			border:none;
    			@media (max-width: 575px) {
    						padding: 0.5em;
    						width: 66%;
    			}
     		}
     		.KurvzBtn{
     			background-color:@pinkcolor;
     			border: none;
			    padding: 1em 3em;
			    color: #fff;
			    font-size: 16px;
			    text-transform: uppercase;
     		}
     }
}
.testimonial{

		background-color:#fff;
		    box-shadow: 5px 7px 8px 0px rgba(0, 0, 0, 0.75);
			.testimonialName{
			@media (max-width: 575px) {
					font-size: 9px;
    				padding: 10px;
    				}

			}
				.testimonialText{
				    padding: 46px 11em;
				    font-size:20px;
				    color: gray;
		     		font-family:@titlefontfamily;
		     		@media (max-width: 575px) {
		     		    	 padding: 0px;
    						font-size: 8px
		     		}
				    }   
	
		.testimonialImage{
		height:30vh;
		@media (max-width: 575px) {
				padding: 1em;
				height:0vh;

		}
				padding: 3em;
					.personImage{
					width:10%;
					}

			}
			.testimonialPages{
						display: flex;
					    align-items: center;
					    justify-content: center;
					}

	}

.footer{
	background-image:url('../images/94467463-horizontally-seamless-lilac-lace-background-with-floral-pattern.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}
.kurvzFooterContent{		
	background: #e91e6399;
			.footerLeftContent{
			    padding: 2em;
			    color: #fff;
			    font-size: 16px;
				.kurvzFooterLogo{
					.logo{
						height: 60px;
						width: auto;
						}
				}
			}
			.footerRightContent{
						padding:2em;
						color: #fff;
						font-size: 16px;
							ul{
								list-style-type:none;
								font-family:@titlefontfamily;
							li{
									padding:.2em;
								}
				}
				}
				.kurvzCopyright{
								border-top: 1px solid #9E9E9E;
								padding:1em;
								background-color: #000000cf;
								p{
									font-family:@titlefontfamily;
									color:#fff;
								}
				}
	}
}





